#costCalc{
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    padding: 20px 55px;
    z-index: -1;
    position: relative;
}
.totalCosts{
    font-weight: 600;
    font-size: 20px;
}
td:nth-child(even){
    padding-left: 30px;
    text-align: center;
}